html,
body,
.grid-container {
  height: 100%;
  margin: 0;

  background: url(bg.jpg) no-repeat center center fixed;
  /* background-color: grey; */
  background-size: cover;
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 2.4fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "Header Header Header Sidebar"
    "Main Main Main Sidebar"
    "Bottom-bar Bottom-bar Bottom-bar Sidebar";
}

.Header {
  grid-area: Header;

  background-color: rgb(12, 151, 151);
}

/* --------------------------- */

.Main {
  grid-area: Main;

  
}

.table-container {
  position: relative;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  /* transform: translate(-50%,-50%); */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-columns: auto auto auto auto; */
  grid-template-rows: 1fr 1fr;
  gap: 5;
  grid-template-areas:
    "table1 table2"
    "table3 table4";
  /* align-items: start; */
  justify-content: center;
}

.table {
  /* width: 200%;
  height: 200%; */
  display: flex;
  justify-content: center;
  /* object-fit: cover; */

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.tableimg{
  position: relative;
  /* margin: 25%; */
  /* left: 25%;
  top: 25%; */
  object-fit: contain;
}

#table1 {
  grid-area: table1;

  /* size: 50%; */
}

#table2 {
  grid-area: table2;
}

#table3 {
  grid-area: table3;
}

#table4 {
  grid-area: table4;
}

.Bottom-bar {
  grid-area: Bottom-bar;

  background-color: rgb(12, 151, 151);
}

/* ----------------- */
.Sidebar {
  grid-area: Sidebar;

  background-color: grey;
}

#items {
  height: 100vh;
  overflow: scroll;
}

.items-list {
  height: 85vh;
  backface-visibility: hidden;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  color: rgb(82, 82, 82);
}

/* An item row is a row in the right-most menu. */
.item-row {
  color: rgb(0, 0, 0);
  font-size: 22px;
  padding-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 2px solid rgb(182, 182, 182);
}

#orderList{
  list-style-type: none;
}

.amtBox{
  border-width: 2px;
  border-color: darkgray;
  resize: none;
  margin: 0px;
  height: 15px;
  width: 30px;
}

.menuTop {
  background-color: aliceblue;
  padding: 5%;
  /* height: 10vh; */
}

.sideBarBtn {
  background-color: #4be0a2;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#langBtn, 
#logOutBtn {
  margin: 0;
  position: relative;
  top: 5%;
  left: 1%;
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}

#callGuardsBtn {
  background-color: black;
  /* border-color: #a30101; */
  
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


#orderBar {
  position: fixed;
  border-top: white solid;
  width: 25vw;
  font-size: 22px;;
  bottom: 0px;
  right: 0px;
  background-color: grey;
  text-align: center;

}

#payBtn {
  float: left;
}
