html,
body,
.grid-container {
  height: 100%;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 2.4fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "Header Header Header Header"
    "Main Main Main Sidebar"
    "Bottom-bar Bottom-bar Bottom-bar Bottom-bar";
}

.Header {
  grid-area: Header;
}

/* --------------------------- */

.Main {
  grid-area: Main;

  
}

.table-container {
  position: relative;
  width: 400px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-columns: auto auto auto auto; */
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-template-areas:
  "table1 table2"
  "table3 table4";
  /* align-items: start; */
}

.table {
  width: 200%;
  height: 200%;
}

#table1 {
  grid-area: table1;

  /* size: 50%; */
}

#table2 {
  grid-area: table2;
  left: 100%
}

#table3 {
  grid-area: table3;

  top: 100%;
}

#table4 {
  grid-area: table4;

  top: 100%;
  left: 100%
}

.Bottom-bar {
  grid-area: Bottom-bar;
}

/* ----------------- */
.Sidebar {
  grid-area: Sidebar;
}

/* For presentation only, no need to copy the code below */
.grid-container * {
  border: 1px solid red;
  position: relative;
}

.grid-container *:after {
  content: attr(class);
  position: absolute;
  top: 0;
  left: 0;
}
