/* .guestView {
  display: grid;
  grid-template-areas:  "header header"
                        "table-area sidebar"
                        "bottom-bar bottom-bar";
  grid-template-rows: 10% auto 10%;
  grid-template-columns: auto 80%;
} */

.guestView {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 2.4fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "Header Header Header Header"
    "Main-Area Main-Area Main-Area side-bar"
    "Bottom-bar Bottom-bar Bottom-bar Bottom-bar";
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 70%;
    float: left;
    display: table;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .drinkmenu {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .current_order {
      /* float: right; */
      background-color: aqua;
      /* padding: 10%; */
      grid-area: side-bar;
      min-height: 100%;
  }

  .Main-Area{
    grid-area: Main-Area;
  }
  
  header {
    grid-area: header;
    /* text-align: center; */
  }